body{
    font-size: 80%;
    font-family: "Courier New", "Courier New",monospace;
    letter-spacing: 0.15cm;
    background-color: #efefef;
}
#page{
    max-width: 940px;
    min-width: 720px;
    margin: 10px auto 10px auto;
    padding: 20px;
    border: 4px double #000;
    background-color: #ffffff;
}
#logo{
    width: 150px;
    margin: 10px auto 25px auto;
}
ul{
    width: 570px;
    padding: 15px;
    margin: 0px auto 0px auto;
    border-top: 2px solid #000000;
    border-bottom: 1px solid #000000;
    text-align: center;
}
li{
    display: inline;
    margin: 0px 3px;
}
p{
    text-align: center;
    margin: 20px auto 20px auto;
}
a{
    color: #000000;
    text-transform: uppercase;
}

a:hover{
    color: red;
}